body {
    background-color: rgb(209, 177, 146) !important;
}

#inn {
    width: 185px;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
}

#inn2 {
    width: 160px;
    height: auto;
    cursor: pointer;
}

#dagger {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#bag {
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

h3 {
    position: relative;
    padding-top: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
}

parentProgressBar1 {
    padding-right: 100px !important;
}